extends ../../layouts/default.jade

mixin labeledInput(type, name, label)
  label(for=name)= label
  input(type=type, id=name, name=name, class="form-control")&attributes(attributes)

block main
  h2= title

block content
  div.row
    div.col-xs-6
      form(method="post", action=`/incidents/${incident._id}/form/ics204`, role="form")
        input(type="hidden", name="_csrf", value=csrf_token)
        .form-group
          label 1. Incident Name
          input(type='text', class="form-control", value=incident.name, readonly)
        hr
        .form-group
          label 2. Operational Period
          br
          +labeledInput('text', 'operationalPeriod[start]', 'Date From')(placeholder="Type: Date")
          +labeledInput('text', 'operationalPeriod[end]', 'Date To')(placeholder="Type: Date")
        hr
        .form-group
          label 3.
          br
          +labeledInput('text', 'field3[branch]', 'Branch')
          +labeledInput('text', 'field3[division]', 'Division')
          +labeledInput('text', 'field3[group]', 'Group')
          +labeledInput('text', 'field3[stagingArea]', 'Staging Area')
        hr
        .form-group
          label 4. Operations Personnel
          br
          +labeledInput('text', 'operationsPersonnel[operationsSectionChiefName]', 'Operations Section Chief (Name)')
          +labeledInput(
            'text',
            'operationsPersonnel[operationsSectionChiefContactNumber]',
            'Operations Section Chief (Contact Number)'
          )(placeholder="Type: Number")
          +labeledInput('text', 'operationsPersonnel[branchDirectorName]', 'Branch Director (Name)')
          +labeledInput(
            'text',
            'operationsPersonnel[branchDirectorContactNumber]',
            'Branch Director (Contact Number)'
          )(placeholder="Type: Number")
          +labeledInput('text', 'operationsPersonnel[divisionGroupSupervisorName]', 'Division/Group Supervisor (Name)')
          +labeledInput(
            'text',
            'operationsPersonnel[divisionGroupSupervisorContactNumber]',
            'Division/Group Supervisor (Contact Number)'
          )(placeholder="Type: Number")
        hr
        .form-group
          label 5. Resources Assigned
          br
          +labeledInput('text', 'resourcesAssigned[resourceIdentifier]', 'Resource Identifier')
          +labeledInput('text', 'resourcesAssigned[leader]', 'Leader')
          +labeledInput('text', 'resourcesAssigned[numOfPersons]', '# of Persons')(placeholder="Type: Number")
          +labeledInput('text', 'resourcesAssigned[contact]', 'Contact (e.g., phone, pager, radio frequency, etc.)')
        hr
        .form-group
          +labeledInput('text', 'workAssignments', '6. Work Assignments')
        hr
        .form-group
          +labeledInput('text', 'specialInstructions', '7. Special Instructions')
        hr
        .form-group
          label 8. Communications
          +labeledInput('text', 'communications[name]', 'Name')
          +labeledInput('text', 'communications[function]', 'Function')
          +labeledInput('text', 'communications[primaryContact]', 'Primary Contact: indicate cell, pager, or radio (frequency/system/channel)')
        hr
        .form-group
          label Prepared by
          br
          +labeledInput('text', 'preparedBy[name]', 'Name')
          +labeledInput('text', 'preparedBy[positionTitle]', 'Postion/Title')
          +labeledInput('text', 'preparedBy[signature]', 'Signature')
          +labeledInput('text', 'preparedBy[dateTime]', 'Date/Time')(placeholder="Type: Date")
        hr
        .form-group
          button.btn.btn-primary(type="submit") Submit