extends layouts/default.jade

block main
  h2
    = title
    div.pull-right: a.btn.btn-default.btn-sm(href="/incidents/new") Add Incident


block content
  if count > 0
    div
      table.table.table-striped
        thead
          tr
            th Name
            th Location
            th Active
            th.text-right Options
        tbody
          each incident in incidents
            tr
              td: a(href="/incidents/#{incident.id}")= incident.name
              td= incident.location
              td= incident.active
              td.text-right
                form(action="/incidents/#{incident.id}", method="post", onsubmit="return confirm('Are you sure?')")
                  a.btn.btn-default.btn-xs(href="/incidents/#{incident.id}/edit") Edit
                  = " "
                  input(type="hidden", name="_csrf", value=csrf_token)
                  input(type="hidden", name="_method", value="DELETE")
                  button.btn.btn-danger.btn-xs(type="submit") Delete
    .text-center
      p TODO: add pager.

  else
    div.text-center
      p.lead There are no Incidents.
      br
      a.btn.btn-primary.btn-lg(href="/incidents/new") Add Incident
