extends ../layouts/default.jade

mixin formGroup(type, id, labelText)
  .form-group
    label(for=id)= labelText
    input(type=type, id=id, name=id, class="form-control")&attributes(attributes)

block main
  h2= title

block content
  .row
    .col-xs-12
      form(method="post", action="/incidents", role="form")
        input(type="hidden", name="_csrf", value=csrf_token)
        +formGroup("text", "name", "Incident Name")
        +formGroup("text", "location", "Location")
        //- +formGroup("date", "startDate", "Start Date")
        .checkbox
          label: input(type="checkbox", name="active", checked)
          | Active
        .formGroup
          button.btn.btn-primary(type="submit") Submit
